@charset "gbk";
/* CSS Document */
body{
	margin:0 auto;
	padding:0;
	color:#0078cc;
	width:100%;
	font-size:12px;
	line-height:24px;
}
html{
	scrollbar-face-color: #7cd7f0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #cdeeff; 
	scrollbar-darkshadow-color:#cdeeff; 
	scrollbar-arrow-color:#1474b7; 
	scrollbar-base-color: #FFFFFF; 
	scrollbar-track-color: #f9fcff;
}
div,ul,li,dt,dd,dl,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,hr,img{
	margin:0px;
	padding:0px;
	list-style:none;
}
a:link,a:visited{
	color:#0078cc;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color:#ff9c00;
}
input,botton,textarea{
	color:#0078cc;
	vertical-align:center;
}
.space{width:100%;height:6px; line-height:6px;clear:both;}
.b{font-weight:bold;}
.loginbotton{ cursor:pointer; cursor:hand;}

/* 表单样式start */
.input01,.input02{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.input01{
	width:100px;
	height:18px;
	line-height:18px;
	border-top:1px solid #699eb6;
	border-left:1px solid #699eb6;
	border-right:1px solid #bfddeb;
	border-bottom:1px solid #bfddeb;
	background:url(../images/pic15.gif) left top repeat-x;
}
.input02{
	/*width:380px;*/
	color:#0078cc;
	height:20px;
	line-height:20px;
	border:1px solid #00bae9;
}
select{
	color:#5cadc2;
	border-top:1px solid #699eb6;
	border-left:1px solid #699eb6;
	border-right:1px solid #bfddeb;
	border-bottom:1px solid #bfddeb;
	border:1px solid #00bae9;
}
.bt01,.bt02,.bt03,.bt04,.bt05{
	border:0;
	text-align:center;
	color:#005d9e;
	line-height:22px;
	cursor:pointer;
	cursor:hand;
}
.bt01, .bt04{
	width:60px;
	height:22px;
	background:url(../images/bottonbg.gif) 0 -51px no-repeat;
}
.bt02{
	width:80px;
	height:22px;
	background:url(../images/bottonbg.gif) 0 -73px no-repeat;
}
.bt03{
	width:100px;
	height:22px;
	background:url(../images/bottonbg.gif) 0 -95px no-repeat;
}
.bt04{
	font-weight:bold;
}
.bt05{
	width:40px;
	height:22px;
	background:url(../images/bottonbg.gif) -66px -51px no-repeat;
}


/* 表单样式end */


/* 登录页面start */
.logindiv { 
	position:absolute; 
	top:50%; left:50%; 
	margin:-190px 0 0 -300px; 
	width:600px; 
	height:380px; 
	border:0px solid red; 
}
.lr{
	width:240px;
	height:217px;
	float:left;
	color:#015198;
}
.ll{
	width:240px;
	height:197px;
	float:left;
	color:#015198;
	background:url(../images/login3.jpg) left top no-repeat;
	overflow:hidden;
	padding-top:20px;
}
.Lbox{
	height:36px;
	line-height:26px;
	font-weight:bold;
}
.Ltop{
	width:600px;
	height:100px;
}
.Lcenter{
	width:600px;
	height:217px;
	overflow:hidden;
	clear:both;
}
.Lbottom{
	width:600px;
	height:33px;
	overflow:hidden;
}
.Lcopyright{
	width:600px;
	height:30px;
	color:#015198;
	overflow:hidden;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.logininput{
	width:128px;
	height:24px;
	line-height:24px;
	border:1px solid #6aa7dd;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}
.loginbotton{
	width:80px;
	height:27px;
	border:0px;
	font-size:14px;
	font-weight:bold;
	background:url(../images/bottonbg.gif) 0 0 no-repeat;
}
.sendbox{
	padding-left:15px;
	margin-top:5px;
}
/* 登录页面end */
/* 页头start */
.Frameline{
	border-bottom:3px solid #096491;
}
.FrameScrollBar{
	scrollbar-face-color: #7cd7f0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #cdeeff; 
	scrollbar-darkshadow-color:#cdeeff; 
	scrollbar-arrow-color:#1474b7; 
	scrollbar-base-color: #FFFFFF; 
	scrollbar-track-color: #f9fcff;
}
.ie6_out{ 
    _margin-left:1000px; 
    _zoom:1; 
} 
.ie6_in{ 
    _position:relative; 
    _float:left; 
    _margin-left:-1000px; 
} 
.header{
	width:100%;
	height:80px;
	background:url(../images/pic03.jpg) left top repeat-x;
	position:relative;
}
.top1,.top2,.top3{
	height:80px;
	position:absolute;
	_zoom:1;
}
.top1{
	width:300px;
	overflow:hidden;
	z-index:4;
	float:left;
}
.top2,.top3{
	width:100%; /*IE6*/
	min-width:1000px !important; /*FF*/
	*min-width:1000px !important; /*IE7*/
}
.top2{
	overflow:hidden;
	z-index:3;
	float:left;
} 
.top3{
	clear:both;
	overflow:hidden;
	z-index:0;
}
.tl{
	width:410px;
	height:80px;
	-background:url(../images/pic01.jpg) left top no-repeat;
	float:left;
}
.tr{
	width:580px;
	height:80px;
	background:url(../images/pic02.jpg) right top no-repeat;
	float:right;
	color:#096491;
	text-align:right;
}
.logininfo a:link,.logininfo a:visited{
	padding:2px;
	color:#096491;
}
.logininfo a:hover{
	color:#FFF;
	background:#096491;
}
.logininfo{
	color:#096491;
	margin-top:5px;
	text-align:right;
	float:right;
}
.website{
	width:250px;
	height:25px;
	overflow:hidden;
	margin-top:45px;
	margin-left:10px;
	color:#FFFFFF;
}
.top2box{
	width:100%;
	height:35px;
	overflow:hidden;
	margin-top:45px;
	background:url(../images/pic04.gif) left bottom repeat-x;
	clear:both;
}
.oc{
	width:320px;
	height:35px;
	overflow:hidden;
	padding-left:10px;
	float:left;
}
.oc img{
	padding-top:30px;
	cursor:pointer;
	cursor:hand;
}
ul.topnav{
	width:40%;
	height:30px;
	overflow:hidden;
	float:left;
	position:relative;
}
ul.topnav li{
	float:left;
	position:absolute;
}
ul.topnav li.tn0{ z-index:9;}
ul.topnav li.tn1{ z-index:8;}
ul.topnav li.tn2{ z-index:7;}
ul.topnav li.tn3{ z-index:6;}
ul.topnav li a{
	width:128px;
	height:30px;
	overflow:hidden;
	text-align:center;
	font-weight:bold;
	line-height:35px;
	display:block;
}
ul.topnav li.tn0 a:link, ul.topnav li.tn0 a:visited{
	color:#FFFFFF;
	background:url(../images/pic07.png) 0px 0px no-repeat;
}
ul.topnav li.tn0 a:hover{
	color:#88d8ff;
}
ul.topnav li.tn1 a:link, 
ul.topnav li.tn1 a:visited,
ul.topnav li.tn2 a:link, 
ul.topnav li.tn2 a:visited,
ul.topnav li.tn3 a:link, 
ul.topnav li.tn3 a:visited
{
	color:#88d8ff;
	background:url(../images/pic07.png) 0px -30px no-repeat;
}
ul.topnav li.tn1 a:hover,
ul.topnav li.tn2 a:hover,
ul.topnav li.tn3 a:hover
{
	color:#FFFFFF;
}
/* 页头end */
/*主体start*/
.c_ie6_out{ 
    _margin-left:875px; 
    _zoom:1; 
} 
.c_ie6_in{ 
    _position:relative; 
    _float:left; 
    _margin-left:-875px; 
}
.Wrapper{
	width:100%;
	min-width:875px !important; 
	*min-width:875px !important; 
    _zoom:1;
	float:left;
}
.inner{
	margin:2px;
}
.innercontent{
	width:100%;
	position:relative;
	clear:both;	
}
.cl, .contentbox{
	position:absolute;
}
.cl{
	z-index:30;
	width:8px;
	height:380px;
	background:url(../images/pic11.gif) 0px 0px no-repeat;
	float:left;
}
.contentbox{
	width:100%;
	min-height:380px;
	_height:380px;
	background:url(../images/pic12.gif) right 0px no-repeat;
	z-index:0;
}
.content{
	padding:0px 8px;
	margin:5px auto;
}
.path{
	height:25px;
	line-height:25px;
	clear:both;
}
.path img{
	vertical-align:text-bottom;
}
.label{clear:both;}
.label img{
	padding:0px 4px 0 8px !important;
	*padding:4px 4px 0 8px;
	vertical-align:text-bottom;
}
.label a{
	width:66px;
	height:24px;
	display:block;
	line-height:24px;
	float:left;
	margin-right:5px;
	margin-top:5px !important;
	*margin-top:0px;
	cursor:pointer;
	color:#096491;
	background:url(../images/bottonbg.gif) 0px -27px no-repeat;
}
.label a:hover{
	color:#0078cc;
	background:url(../images/bottonbg.gif) -66px -27px no-repeat;
}
.label a.ThreeFont{
	width:70px;
	height:24px;
	background:url(../images/bottonbg.gif) 0px -167px no-repeat;
}
.label a.ThreeFont:hover{
	color:#0078cc;
	background:url(../images/bottonbg.gif) -70px -167px no-repeat;
}
.label a.FourFont{
	width:80px;
	height:24px;
	background:url(../images/bottonbg.gif) 0px -191px no-repeat;
}
.label a.FourFont:hover{
	color:#0078cc;
	background:url(../images/bottonbg.gif) -80px -191px no-repeat;
}
.search{
	clear:both;
	color:#19404e;
}
.databox{
	clear:both;
	line-height:28px;
	height:auto;
	border:1px solid #00bae9;
}
.databox2{
	clear:both;
	line-height:28px;
	border-top:1px solid #00bae9;
	border-left:1px solid #00bae9;
	border-right:1px solid #00bae9;
	height:460px;
	overflow-y:scroll;
	overflow-x:auto;
	scrollbar-face-color: #7cd7f0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #cdeeff; 
	scrollbar-darkshadow-color:#cdeeff; 
	scrollbar-arrow-color:#1474b7; 
	scrollbar-base-color: #FFFFFF; 
	scrollbar-track-color: #FFFFFF;
}
.tab1{
	color:#3e606c;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.tab1 td,.td3{
	height:27px;
	line-height:28px;
	text-align:center;
	border-bottom:1px solid #cdeeff;
}
td.tdhead{
	color:#0d699a;
	font-weight:bold;
	height:25px;
	line-height:25px;
	background:url(../images/pic16.gif) left top no-repeat;
	border-bottom:1px solid #38e4ff;
}
td.tdhead img{
	vertical-align:text-bottom;
}
td.td1{
	height:25px;
	line-height:25px;
	background:url(../images/pic16.gif) -1px top no-repeat;
	border-bottom:1px solid #38e4ff;
}
td.td2{
	height:35px;
	line-height:35px;
	background:#f5fcff;
	border-bottom:0;
}
td.td3{
	color:#008ace;
}
tr.trlight{
	background:#f4faff;
}
.tdbox0{
	height:360px;
	overflow-y:scroll;
	overflow-x:hidden;
	scrollbar-face-color: #7cd7f0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #cdeeff; 
	scrollbar-darkshadow-color:#cdeeff; 
	scrollbar-arrow-color:#1474b7; 
	scrollbar-base-color: #FFFFFF; 
	scrollbar-track-color: #FFFFFF;
}
.tdbox1{
	width:40%;
	float:left;
	text-align:left;
	padding-left:5px;
}
.tdbox2{
	width:55%;
	float:right;
	text-align:right;
	height:35px;
	line-height:35px;
	padding-right:10px;
}
.tdbox2 input{
	*margin-top:0px !important;
	_margin-top:5px;
}
a.plink:link,a.plink:visited{
	width:50px;
	height:20px;
	line-height:20px;
	border:1px solid #8ec7e2;
	text-align:center;
	display:inline-block;
	_margin-right:5px;
}
a.plink:hover{
	border:1px solid #008ace;
	color:#FFFFFF;
	background:#008ace;
}
ul.menu{
	height:25px;
	background:url(../images/pic10.gif) left -31px repeat-x;
	clear:both;
}
ul.menu li{
	width:93px;
	height:25px;
	overflow:hidden;
	display:inline;
}
ul.menu li a{
	width:93px;
	height:25px;
	display:block;
	overflow:hidden;
	margin:0px 2px;
	float:left;
	line-height:25px;
}
ul.menu li img {
	vertical-align:text-bottom;
	padding-right:4px;
}
ul.menu li.cur a:link, 
ul.menu li.cur a:visited,
ul.menu li.no a:link, 
ul.menu li.no a:visited
{
	color:#0078cc;
	text-align:center;
	padding-top:0px !important;
	*padding-top:5px;
	height:25px !important;
	*height:20px;
}
ul.menu li.cur a:link, 
ul.menu li.cur a:visited{
	font-weight:bold;
	background:url(../images/bottonbg.gif) left -117px no-repeat;
}
ul.menu li.cur a:hover{
	color:#096491;
}
ul.menu li.no a:link, 
ul.menu li.no a:visited
{
	background:url(../images/bottonbg.gif) left -142px no-repeat;
}
ul.menu li.no a:hover{
	font-weight:bold;
	color:#096491;
	background:url(../images/bottonbg.gif) left -117px no-repeat;
}
.pagelink{
	height:35px;
	line-height:35px;
	background:#f5fcff;
	border-left:1px solid #00bae9;
	border-right:1px solid #00bae9;
	border-bottom:1px solid #00bae9;
}
/*有新闻菜单的页面*/
.Frame_tree{
	width:168px;
	height:500px;
	margin:2px;
	padding:3px 8px;
	border:1px solid #a8d4e8;
	background:#f9fcff url(../images/pic18.gif) left top no-repeat;
	
	overflow-y:auto;
	overflow-x:auto;
	scrollbar-face-color: #7cd7f0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #cdeeff; 
	scrollbar-darkshadow-color:#cdeeff; 
	scrollbar-arrow-color:#1474b7; 
	scrollbar-base-color: #FFFFFF; 
	scrollbar-track-color: #f9fcff;
	position:absolute;
	z-index:1;
}
.mutativebox{
	width:100%;
	position:relative;
	clear:both;
}
.subtree{
	height:585px;
	width:150px;
	padding:9px;
	float:left;
	border:1px solid #a8d4e8;
	background:#f9fcff url(../images/pic18.gif) left top no-repeat;
	margin-right:10px;
	overflow-y:scroll;
	overflow-x:hidden;
	scrollbar-face-color: #7cd7f0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #cdeeff; 
	scrollbar-darkshadow-color:#cdeeff; 
	scrollbar-arrow-color:#1474b7; 
	scrollbar-base-color: #FFFFFF; 
	scrollbar-track-color: #f9fcff;
	position:absolute;
	z-index:15;
}

.tree_being{
	padding-left:180px;
	position:relative;
	z-index:14;
}
.tree_no{
	width:100%;
}
/*有新闻菜单的页面end*/
/*翻页图片样式*/
.pagelink_pic a{
	width:22px;
	height:22px;
	overflow:hidden;
	text-indent:-999em;
	display:block;
	float:left;
	margin:0px 3px;
}
a.first{background:url(../images/pagebotton.gif) 0px 0px no-repeat;}
a.first:hover{background:url(../images/pagebotton.gif) 0px -22px no-repeat;}
a.next{background:url(../images/pagebotton.gif) -22px 0px no-repeat;}
a.next:hover{background:url(../images/pagebotton.gif) -22px -22px no-repeat;}
a.pre{background:url(../images/pagebotton.gif) -44px 0px no-repeat;}
a.pre:hover{background:url(../images/pagebotton.gif) -44px -22px no-repeat;}
a.end{background:url(../images/pagebotton.gif) -66px 0px no-repeat;}
a.end:hover{background:url(../images/pagebotton.gif) -66px -22px no-repeat;}
/*左边start*/
.sidebar{
	width:150px;
	min-height:768px;
	_height:768px;
	padding-top:25px;
	padding-top:25px !important;
    _zoom:1;
	background:url(../images/pic08.gif) right top repeat-y;
}
.leftnav{
	width:100%;
	height:auto;
	border-bottom:1px solid #5ec8f8;
}
.leftnav img{
	vertical-align:text-bottom;
	padding:0px 5px 0px 8px;
}
.over{
	height:auto;
	border-top:3px solid #096491;
	border-bottom:3px solid #096491;
	margin:0px 0px 2px 0px;
}
a.lns:link, a.lns:visited{
	width:100%;
	height:32px !important;
	*height:22px;
	overflow:hidden;
	line-height:32px;
	display:block;
	background:#FFFFFF url(../images/pic09.gif) 0px 0px no-repeat;
	font-weight:bold;
	color:#0078cc;
	padding-top:0px !important;
	_padding-top:10px;
}
a.lns:hover{
	color:#096491;
}
a.lnd:link, a.lnd:visited{
	width:100%;
	height:28px !important;
	*height:21px;
	overflow:hidden;
	line-height:29px;
	display:block;
	background:#FFFFFF url(../images/pic09.gif) 0px -32px no-repeat;
	color:#3b7b92;
	padding-top:0px !important;
	_padding-top:7px;
}
a.lnd:hover{
	color:#0078cc;
}
ul.subnav{
	width:100%;
	background:#FFFFFF;
	height:auto;
	clear:both;
	padding-bottom:2px;
	border-top:1px solid #aee3fb;
}
ul.subnav li.sns a{
	width:140px;
	height:25px;
	display:block;
	line-height:25px;
	background:url(../images/pic09.gif) 0px -61px no-repeat;
	padding-left:10px;
	font-weight:bold;
}
ul.subnav li.sns a:hover{
	color:#096491;
	background:url(../images/pic09.gif) 0px -111px no-repeat;
}
ul.subnav li.snd a{
	width:140px;
	height:25px;
	display:block;
	line-height:25px;
	background:url(../images/pic09.gif) 0px -86px no-repeat;
	padding-left:10px;
}
ul.subnav li.snd a:hover{
	color:#096491;
	background:url(../images/pic09.gif) 0px -61px no-repeat;
}
ul.subnav li a img{
	vertical-align:text-bottom;
	padding:0px 5px 0px 8px !important;
	*padding:5px 5px 0px 8px;
}
/*左边end*/
/*主体end*/
/*编辑页面start*/
.editor{
	width:100%;
	margin:0 auto;
	clear:both;
	overflow: hidden;
}
.title{
	height:24px;
	padding-left:5px;
	font-weight:bold;
	border:1px solid #c1deec;
	background:url(../images/pic10.gif) left -56px repeat-x;
}
.title img{
	vertical-align:text-bottom;
	padding-right:5px;
}
.edinner{
	vertical-align:top;
	width:800px;
	margin:0 auto;
	border:0px solid #c1deec;
	min-height:620px;
	height:auto !important;
	height:620px;
	padding:0px 20px 1px 20px;
	background:url(../images/pic12.gif) 1px -1px no-repeat;
}
.editorbox{
	width:800px;
	border:1px solid #00bae9;
	margin:0 auto;
}
.editorbox h5,.editortable h5{
	font-size:14px;
	height:27px;
	line-height:27px;
	font-weight:bold;
	border-top:1px solid #ecf9ff;
	border-left:1px solid #ecf9ff;
	border-right:1px solid #ecf9ff;
	border-bottom:1px solid #bfddeb;
	text-align:center;
	background:url(../images/pic10.gif) left -80px repeat-x;
}
.eb0{
	width:100%;
	margin:0 auto;
}
.eb{
	width:92%;
	clear:both;
	margin:0 auto;
	line-height:28px;	
}
.eb_l{
	width:15%;
	float:left;
	font-weight:bold;
	text-align:right;
	white-space:pre;
}
.eb_r{
	width:85%;
	float:left;
	color:#3b7b92;
}
.editortable{
	border:1px solid #00bae9;
}
.editortable td{
	height:28px;
	line-height:28px;
}
.editortable td.label{
	text-align:right;
	font-weight:bold;
	white-space:pre;
}
/*编辑页面end*/
/*选择权限start*/
.permissionstree{
	margin:20px;
	height:auto;
}
ul.oneGrade,ul.twoGrade,ul.threeGrade,ul.fourGrade,ul.fiveGrade{
	height:auto;
	line-height:24px;
	clear:both;
}
ul.oneGrade li{
	margin:0;
	padding:0;
	min-height:24px;
	height:auto !important;
	height:24px;
	line-height:24px;
}
ul.twoGrade li{
	padding-left:20px;
	background:url(../images/ico24.gif) left top repeat-y  !important;
	_background:url(../images/ico24.gif) left -2px repeat-y;
}
ul.threeGrade,ul.fourGrade,ul.fiveGrade{
	padding-left:20px !important;
	*padding-left:0px !important;
	_padding-left:0px;
}

/*选择权限end*/
/*右键菜单start*/
.RightClickMenu{
	width:122px;
	height:auto;
	border:2px solid #a8d4e8;
	padding:3px;
	background:#f9fcff;
}
.RightClickMenu li a{
	display:block;
	text-indent:1em;
	line-height:24px;
}
.RightClickMenu li.no a{
	color:#3e606c;
	width:100%;
	height:23px;
	background:#e3f5fa;
	border-bottom:1px solid #c8edf7;
}
.RightClickMenu li.no a:hover{color:#FFF;background:#1fadd1;}
.RightClickMenu li.cur a{
	color:#FFF;
	width:100%;
	height:24px;
	background:#1fadd1;
}
.RightClickMenu li.cur a:hover{color:#FFF;}
/*右键菜单end*/
/*底部start*/
.footer{
	width:100%;
	min-width:1000px !important;
	*min-width:1000px !important;
	height:31px;
	line-height:31px;
	text-align:right;
	color:#0078cc;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(../images/pic10.gif) left top repeat-x;
}
/*底部end*/
