BODY
{
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(../../admin/images/leftmenu/LeftMenuBg.gif);
    MARGIN: 0px
}
TD
{
    FONT-SIZE: 12px;
    LINE-HEIGHT: 18px
}
.MenuLevel1
{
    PADDING-LEFT: 12px;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #ffffff;
    HEIGHT: 23px
}
.MenuLevel2
{
    PADDING-LEFT: 18px;
    FONT-SIZE: 12px;
    COLOR: #375491;
    PADDING-TOP: 3px;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #b0c4e1
}
.MenuLevel3
{
    PADDING-LEFT: 18px;
    FONT-SIZE: 12px;
    COLOR: #375491;
    PADDING-TOP: 3px;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #b0c4e1
}
.MenuLevel4
{
    PADDING-LEFT: 25px;
    FONT-SIZE: 12px;
    COLOR: #336398;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #d1daea;
    E0E0DA: 18px
}
.MenuLevel8888
{
    PADDING-LEFT: 18px;
    FONT-SIZE: 12px;
    COLOR: #5277a9;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #e0e0da;
    D1DAEA: 18px
}
.SubMenuLayer
{
    CURSOR: hand
}
.SubMenuLayerHidden
{
    DISPLAY: none;
    CURSOR: hand
}
.oprName
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 12px;
    Z-INDEX: 10;
    LEFT: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 109px;
    COLOR: #ffffff;
    LINE-HEIGHT: 20px;
    BORDER-BOTTOM: medium none;
    POSITION: absolute;
    TOP: 1000px;
    BACKGROUND-COLOR: #887868;
    TEXT-ALIGN: left
}
.oprName_hidden
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    DISPLAY: none;
    FONT-SIZE: 12px;
    Z-INDEX: 10;
    LEFT: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 109px;
    COLOR: #ffffff;
    LINE-HEIGHT: 20px;
    BORDER-BOTTOM: medium none;
    POSITION: absolute;
    TOP: 1000px;
    BACKGROUND-COLOR: #887868;
    TEXT-ALIGN: left
}
.oprName1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 12px;
    Z-INDEX: 10;
    RIGHT: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 12px;
    COLOR: #ffffff;
    BOTTOM: 1000px;
    LINE-HEIGHT: 12px;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: medium none;
    POSITION: absolute;
    BACKGROUND-COLOR: #887868;
    TEXT-ALIGN: center
}
.oprName1_hidden
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    DISPLAY: none;
    FONT-SIZE: 12px;
    Z-INDEX: 10;
    RIGHT: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 12px;
    COLOR: #ffffff;
    BOTTOM: 1000px;
    LINE-HEIGHT: 12px;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: medium none;
    POSITION: absolute;
    BACKGROUND-COLOR: #887868;
    TEXT-ALIGN: center
}

A:LINK {
    COLOR: #000000;
    TEXT-DECORATION: none;
}

A:VISITED {
    COLOR: #000000;
    TEXT-DECORATION: none;
}

A:HOVER {
    TEXT-DECORATION: none;
}

A:ACTIVE {
    COLOR: #000000;
}
