<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="/trade-0.0.1/js/plugin/jquery-1.11.3.min.js" ></script>
<script type="text/javascript" src="/trade-0.0.1/js/plugin/template.js" ></script>
<script type="text/javascript" src="/trade-0.0.1/js/jquery-ui-1.11.4.custom/jquery-ui.min.js" ></script>
<script type="text/javascript" src="/trade-0.0.1/js/fundManage/modifyFundDividend.js" ></script>   
<script type="text/javascript" src="/trade-0.0.1/js/common/header.js" ></script> 
<link rel="stylesheet" href="/trade-0.0.1/js/jquery-ui-1.11.4.custom/jquery-ui.min.css">
<title>修改基金分红方式</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>&nbsp;基金名称&nbsp;</td>
				<td>&nbsp;收费方式&nbsp;</td>
				<td>&nbsp;份额(份)&nbsp;</td>
				<td>&nbsp;市值(元)&nbsp;</td>
				<td>&nbsp;可用份额(份)&nbsp;</td>
				<td>&nbsp;分红方式&nbsp;</td>
				<td>&nbsp;操作&nbsp;</td>
			</tr>
		</thead>
		<tbody id="fund_dividend_tbody">
		</tbody>
	
	</table>
	<div id="fundDividendDialog" style="display:none;">
		
	</div>

</body>
</html>