<!-- 页面头部 -->
<div class="container">
        <ul class="navbar-nav">
            <li>
                <img src="../../trade/images/member_index/member_state_icon01.png"/>
                <a href="#" class="active">移动版</a>
            </li>
            <li>
                <img src="../../trade/images/member_index/member_state_icon01.png"/>
                <a href="#">官方微信</a>
            </li>
            <li>
                <img src="../../trade/images/member_index/member_state_icon01.png"/>
                <a href="#" target="_blank">在线客服</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li>
                <div>晚上好！欢迎登录&nbsp;&nbsp;<span style="color:#f06e00;">134****3253</span></div>
            </li>
            <li>
                |
            </li>
            <li id="loginout">
                <a href="#" class="">安全退出</a>
            </li>
        </ul>
    </div>