<!-- 页面导航栏 -->
<div class="navbar navbar-default navbar-static-top header_bottom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="logo" href="/index.html"><img src="../../images/member_index/logo.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="fund_select"><a href="#">基金精选</a></li>
                <li class="new_guide"><a href="#">新手指引</a></li>
                <li class="security"><a href="#">安全保障</a></li>
                <li class="account select active"><a href="#">我的账户</a></li>
            </ul>
        </div>
    </div>
</div>