/*author:donglang*/
.login-register{
    float:right;
    margin-top: 28px;
}
.login-register a{
    padding: 8px 20px;
    border: 1px solid #ef6f00;
    margin-left: 12px;
    color: #ef6f00;
    border-radius: 5px;
}
.register_content {
    height: 650px;
    background-color: #f5f5f5;
}
.register_content .register_content_container{
    margin-top: 100px;
    margin-left: 200px;
}
.register_content .normal{
    background-image: url(../images/member_be_icon01.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.register_content .disable{
    background-image: url(../images/member_be_icon02.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.register_content .success{
    background-image: url(../images/member_be_icon03.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.register_content .register_step{

}

.register_content ul li{
    float:left;
    padding: 0 0;
}
.register_content .register_int{
    color: #ffffff;
    height: 40px;
    width: 40px;
}
.register_content .register_int .number{
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.register_content .register_int .hide_number{
    display: none;
}
.register_content .step1,.register_content .step3{
    margin-left: 7px;
}
.register_content .step2{
    margin-left: 21px;
}
.register_content .register_word{
    text-align: center;
}
.register_content .line{
    border-top: 1px solid #dddddd;
    width: 265px;
    margin-top: 20px;
}
.register_content_step1{
    margin-top: 243px;
    margin-left: 394px;
}
.register_content .form_group{
    font-size: 20px;
}
.register_content .form-control {
    position: relative;
    font-size: 14px;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
    width:314px;
}
.register_content .control-label{
    width:120px;
    font-size: 22px;
    font-weight: normal;
}
.register_content .yangzhengma{
    width:172px;
    display: inline-block;
}
.register_content .lable_register{
    font-size: 20px;
}
.register_content .yangzhengma{
    width:172px;
}
.register_content .captchaImage{
    margin-left: 0;
}
.register_content .captchaImage img{
    width: 96px;
    height: 38px;
}
.register_content .checkbox{
    margin-left: 120px;
}
.register_content button{
     width:248px;
     height: 44px;
     background-color: #ef6f00;
     color:#ffffff;
     font-size: 20px;
     margin-left: 120px;
     margin-top: 12px;
     float:left;
 }
.register_content button:hover{
    background-color: #ef6f00;
    color:#ffffff;
}
.register_content .pre_operator{
    color: #ef6f00;
    float:left;
    margin: 25px 0 25px 15px;
}
.register_content .pre_operator a{
    color: #ef6f00;
}

.register_content .success_img{
    margin-left: 175px;
}
.register_content .success_info{
    font-size: 36px;
    font-weight: normal;
    margin-left: 80px;
    margin-top: 18px;
    margin-bottom: 68px;
}