<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />
	
	<bean id="shiroRealm" class="com.jhcz.trade.framework.security.ShiroRealm"></bean> 
	<!-- 配置权限管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	<!-- 自定义处理realm  -->
		<property name="realm" ref="shiroRealm"></property>
		<property name="cacheManager" ref="cacheManager"></property>
	</bean>
	<!-- 配置shiro过滤器工厂类 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/jsp/login.jsp"></property>
<!-- 		<property name="successUrl" value="index.jsp"></property> -->
		<property name="unauthorizedUrl" value="/err/404.jsp" />
		<property name="filterChainDefinitions">
			<value>
<!-- 				anon表示此地址不需要任何权限即可访问 -->
				/user/**               =anon
				/user/code=anon
				/404.jsp=anon
				/401.jsp=anon
                /resources/**           = anon
                /js/**                  = anon
                /images/**              = anon
                /css/**                 = anon
                /ImageServlet/**        = anon
				/userLogin/**=anon
				/userRegister/**=anon
				/jsp/login.jsp = anon
<!-- 				所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过登录验证,如果未登录则跳到/login -->
				/**               = authc
			</value>
		</property>
	</bean>

	<!-- shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>
