<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhcz.trade.fundManage.dao.FundMapper">

	<sql id="queryFundInfo">
		       t.fc_id_tfundinfo idFundInfo,
		       t.fc_fundcode fundCode,
		       t.fc_fundname fundName,
		       t.fc_fundtype,
		       decode(t.fc_fundtype,
		              '01',
		              '股票型',
		              '02',
		              '债券型',
		              '03',
		              '混合型',
		              '04',
		              '货币性',
		              '08',
		              '专户产品',
		              '股票型') fundTypeDesc,
		       t.fc_fundnameeng fundNameEng,
		       t.fn_totalfundvol totalFundVol,
		       t.fc_fundstatus fundStatus,
		       decode(t.fc_fundstatus,
		              '0',
		              '可申购赎回',
		              '1',
		              '发行',
		              '4',
		              '停止申购赎回',
		              '5',
		              '停止申购',
		              '6',
		              '停止赎回',
		              '9',
		              '基金封闭',
		              'A',
		              '基金终止',
		              '可申购赎回') fundStatusDesc,
		       t.fd_navdate navDate,
		       t.fn_nav nav,
		       t.fc_convertstatus convertStatus,
		       t.fc_tano tano,
		       t.fc_periodicstatus periodicStatus,
		       t.fc_transferagencystatus tansferAgencyStatus,
		       t.fc_currencytype currencyType,
		       t.fc_fundsize fundSize,
		       t.fc_defdividendmethod defDividendMethod,
		       t.fc_custodiancode custOdianCode,
		       t.fc_ipostartdate ipoStartDate,
		       t.fc_ipoenddate ipoEndDate,
		       t.fc_managercode managerCode,
		       t.fc_fundsponsor fundSponsor,
		       t.fn_tradingprice tradingPrice,
		       t.fn_facevalue faceValue,
		       t.fc_dividentdate dividentDate,
		       t.fc_registrationdate regiStartionDate,
		       t.fc_substype subsType,
		       t.fn_valueline valueLine,
		       t.fc_updatedate updateDate,
		       t.fc_fundriskgrade fundRiskLevel,
		       t.fc_fundriskgradedesc fundRiskLevelDesc,
		       t.fn_feefactor feeFactor,
		       t.fn_accumulativenav accumalativeNav,
		       t.fn_totalincome totalIncome,
		       t.fn_ttincome ttIncome,
		       t.fn_incomeyield incomeYield,
		       t.fc_dividendmodify dividendModify,
		       t.fc_onriskprotocol onRiskProtocol,
		       t.fc_oncontractsystem onContractSystem,
		       t.fc_disdate disdate,
		       t.fn_redemptionarrivectdate redemptionArrivectDate,
		       t.fc_issubscribe isSubscribe,
		       t.fc_isquick isQuick,
		       t.fn_buypayperiod buypayPriod,
		       t.fn_redemptionpayperiod redemptionPayPeriod,
		       t.fn_conversionpayperiod conversionPayPeriod,
		       t.fn_subpaybackperiod subpaybackPeriod,
		       t.fn_dividendpayperiod dividendpayPeriod,
		       t.fc_shareclass shareClass,
		       decode(t.fc_shareclass,
		              '0',
		              '前收费',
		              '1',
		              '后收费') shareClassName,
		       t.fc_targetfundcode targetFundCode,
		       t.fc_agencyfeeflag agencyFeeFlag,
		       t.fc_isguaranteedfund isGuaranteedFund,
		       t.fc_isloffund isLofFund,
		       t.fc_isqdiifund isqdiiFund,
		       t.fc_isetffund isetfFund,
		       t.fc_subscribe subscribe,
		       t.fc_liquidation liquidation,
		       t.fc_subscribeaffirm subscribeAffirm,
		       t.fc_fixedinvestment fixedInvestment,
		       t.fc_mandatoryredemption mandatoryRedemption,
		       t.fc_isdiscount isDiscount,
		       t.fc_expectclose expectClose,
		       t.fc_programe_no programeNo,
		       t.fc_chargetype chargeType,
		       t.fn_specifyratefee specifyRateFee,
		       t.fn_specifyfee specifyFee,
		       t.fc_cashaccountid cashAccountid,
		       t.fn_monthly_sales monthlySaled,
		       t.fn_populararity populararity,
		       t.fc_isrecommend isRecommend,
		       t.fd_last_date lastDate,
		       t.fc_annual_gain annualGain,
		       t.fc_interval_t intervalT,
		       t.fc_fundurl fundUrl
		  from t_os_fund_info t
	</sql>
	<sql id="fund_insert">
		insert into t_os_fund_info 
			(fc_id_tfundinfo,
			fc_fundcode,
			fc_fundname,
			fc_fundtype,
			fc_fundnameeng,
			fn_totalfundvol,
			fc_fundstatus,
			fd_navdate,
			fn_nav,
			fc_convertstatus,
			fc_tano,
			fc_periodicstatus,
			fc_transferagencystatus,
			fc_currencytype,
			fc_fundsize,
			fc_defdividendmethod,
			fc_custodiancode,
			fc_ipostartdate,
			fc_ipoenddate,
			fc_managercode,
			fc_fundsponsor,
			fn_tradingprice,
			fn_facevalue,
			fc_dividentdate,
			fc_registrationdate,
			fc_substype,
			fc_fundriskgrade,
			fc_fundriskgradedesc,
			fn_accumulativenav,
			fn_totalincome,
			fn_ttincome,
			fn_incomeyield,
			fc_dividendmodify,
			fc_onriskprotocol,
			fc_oncontractsystem,
			fc_disdate,
			fn_redemptionarrivectdate,
			fc_issubscribe,
			fc_isquick,
			fn_buypayperiod,
			fn_redemptionpayperiod,
			fn_conversionpayperiod,
			fn_subpaybackperiod,
			fn_dividendpayperiod,
			fc_shareclass,
			fc_targetfundcode,
			fc_agencyfeeflag,
			fc_isguaranteedfund,
			fc_isloffund,
			fc_isqdiifund,
			fc_isetffund,
			fc_subscribe,
			fc_liquidation,
			fc_subscribeaffirm,
			fc_fixedinvestment,
			fc_mandatoryredemption,
			fc_isdiscount,
			fc_expectclose,
			fc_chargetype,
			fn_specifyratefee,
			fn_specifyfee,
			fc_cashaccountid,
			fn_monthly_sales,
			fn_populararity,
			fc_isrecommend,
			fd_last_date,
			fc_annual_gain,
			fc_interval_t,
			fc_fundurl,
			fc_fcu,
			fd_fcd,
			fc_lmu,
			fd_lmd)
			values
			<foreach collection="list" item="item"> 
			(
			sys_guid(),
			#{item.fc_fund_code},
			#{item.fc_fund_name},
			#{item.fc_fund_type},
			#{item.fc_fund_name_eng},
			#{item.FN_TOTAL_FUND_SHARE},
			#{item.fc_status},
			#{item.fd_nav_date},
			#{item.fn_nav},
			#{item.fc_convert_status},
			#{item.fc_ta_code},
			#{item.fc_periodic_status},
			#{item.fc_transfer_agency_status},
			#{item.fc_currency_type},
			#{item.FN_TOTAL_FUND_SHARE},
			#{item.fc_def_dividend_method},
			#{item.fc_custodian_code},
			#{item.fc_start_date},
			#{item.fc_end_date},
			#{item.fc_fund_manager_name},
			#{item.fc_fund_sponsor},
			#{item.fn_trading_price},
			#{item.fn_face_value},
			#{item.fc_divident_date},
			#{item.fc_registration_date},
			#{item.fc_subs_type},
			#{item.FC_RISK_LEVEL},
			#{item.FC_RISK_LEVEL_desc},
			#{item.fn_feefactor},
			#{item.fn_accumulative_nav},
			#{item.fn_fund_income},
			#{item.fn_yield},
			#{item.fn_fund_day_income},
			#{item.fc_dividendmodify},
			#{item.FC_NEED_RISK_BOOK},
			#{item.FC_NEED_ELECT_CONTRACT},
			#{item.fc_disdate},
			#{item.fn_redemptionarrivectdate},
			#{item.fc_issubscribe},
			#{item.fc_isquick},
			#{item.FN_BUY_DAYS},
			#{item.FN_REDEEM_DAYS},
			#{item.FN_CONVERSION_DAYS},
			#{item.FN_SUB_BACK_DAYS},
			#{item.FN_DIVIDEND_DAYS},
			#{item.FC_COLLECT_FEE_TYPE},
			#{item.fc_targetfundcode},
			#{item.fc_agencyfeeflag},
			#{item.fc_isguaranteedfund},
			#{item.fc_is_lof},
			#{item.fc_is_qdii},
			#{item.fc_is_etf},
			#{item.FN_SUB_BACK_DAYS},
			#{item.fc_liquidation},
			#{item.fc_subscribeaffirm},
			#{item.fc_fixedinvestment},
			#{item.fc_mandatoryredemption},
			#{item.fc_isdiscount},
			#{item.fc_expectclose},
			#{item.FC_FEE_RATE_METHOD},
			#{item.FN_RATE_FEE},
			#{item.FN_CONSTANT_FEE},
			#{item.fc_cashaccountid},
			#{item.fn_monthly_sales},
			#{item.fn_populararity},
			#{item.fc_isrecommend},
			#{item.fd_last_date},
			#{item.fc_annual_gain},
			#{item.fc_interval_t},
			#{item.fc_fundurl},
			'system',
			sysdate,
			'system',
			sysdate
			)
			</foreach>
	</sql>

	<select id="queryAllFund" parameterType="java.util.Map" resultType="FundInfo">
		select <include refid="queryFundInfo"/>
		 where t.fc_fundtype != '8'
		   and t.fc_disstatus = '1'
		 order by t.fn_orderid desc
	</select>

	<select id="getFundByCode" parameterType="java.lang.String" resultType="FundInfo">
		select <include refid="queryFundInfo"/> where t.fc_fundtype != '8'
		   and t.fc_disstatus = '1' and t.fc_fundcode = #{fundCode}
	</select>
	
	<select id="getDepositBankCard" parameterType="java.lang.String" resultType="DataRow">
		select t.fc_cashaccountid cashAccountId,
		       t.fc_transactionaccountid tradeAccount,
		       t.fc_branch_code brachCode,
		       t.fc_cust_no custNo,
		       t.fc_bank_acct bankAcct,
		       t.fc_bank_acct_name bankAcctName,
		       t.fc_bank_no bankNo,
		       t.fc_capital_mode capitalMode,
		       t.fc_main_flag mainFlag,
		       t.fc_card_type cardType
		  from t_os_user_bank_card t
		 where t.fc_state = '0'
		   and t.fc_auth_flag = '1'
		   and t.fc_cust_no = #{custNo}
	</select>

	<insert id="insertFund"	parameterType="java.util.Map">
<!-- 		merge into t_os_fund_info t1 -->
<!-- 		using ( -->
<!-- 		select #{FC_FUND_CODE} fund_code from dual -->
<!-- 		) tmp -->
<!-- 		on(tmp.fund_code = t1.fc_fundcode) -->
<!-- 		when not matched then -->
		insert into t_os_fund_info
		(fc_id_tfundinfo,				
		fc_fundcode,                  
		fc_fundname,                  
		fc_fundtype,                  
		fc_fundnameeng,               
		fn_totalfundvol,              
		fc_fundstatus,                
		fd_navdate,                   
		fn_nav,                       
		fc_convertstatus,             
		fc_tano,                      
		fc_periodicstatus,            
		fc_transferagencystatus,      
		fc_currencytype,              
		fc_fundsize,                  
		fc_defdividendmethod,         
		fc_custodiancode,             
		fc_ipostartdate,              
		fc_ipoenddate,                
		fc_managercode,               
		fc_fundsponsor,               
		fn_tradingprice,              
		fn_facevalue,                 
		fc_dividentdate,              
		fc_registrationdate,          
		fc_substype,                  
		fc_fundriskgrade,             
		fc_fundriskgradedesc,         
		fn_accumulativenav,           
		fn_totalincome,               
		fn_ttincome,                   
		fc_onriskprotocol,            
		fc_oncontractsystem,                   
		fn_buypayperiod,              
		fn_redemptionpayperiod,       
		fn_conversionpayperiod,       
		fn_subpaybackperiod,          
		fn_dividendpayperiod,         
		fc_shareclass,                   
		fc_isguaranteedfund,          
		fc_isloffund,                 
		fc_isqdiifund,                
		fc_isetffund,                 
		fc_chargetype,                
		fn_specifyratefee,            
		fn_specifyfee,                
		fc_fcu,                       
		fd_fcd,                       
		fc_lmu,                       
		fd_lmd                        
		)
		values
		(
		sys_guid(),     
		#{FC_FUND_CODE},               
		#{FC_FUND_NAME},               
		#{FC_FUND_TYPE},               
		#{FC_FUND_NAME_ENG},           
		#{FN_TOTAL_FUND_SHARE},        
		#{FC_STATE},                   
		#{FC_NAV_DATE},                
		#{FN_NAV},                     
		#{FC_CONVERT_STATUS},          
		#{FC_TA_CODE},                 
		#{FC_PERIODIC_STATUS},         
		#{FC_TRANSFER_AGENCY_STATUS},  
		#{FC_CURRENCY_TYPE},           
		#{FN_TOTAL_FUND_SHARE},        
		#{FC_DEF_DIVIDEND_METHOD},     
		#{FC_CUSTODIAN_CODE},          
		#{FC_START_DATE},              
		#{FC_END_DATE},                
		#{FC_FUND_MANAGER_NAME},       
		#{FC_FUND_SPONSOR},            
		#{FN_TRADING_PRICE},           
		#{FN_FACE_VALUE},              
		#{FC_DIVIDENT_DATE},           
		#{FC_REGISTRATION_DATE},       
		#{FC_SUBS_TYPE},               
		#{FC_RISK_LEVEL},              
		#{FC_RISK_LEVEL_DESC},         
		#{FN_ACCUMULATIVE_NAV},        
		#{FN_FUND_INCOME},             
		#{FN_FUND_INCOME},                        
		#{FC_NEED_RISK_BOOK},          
		#{FC_NEED_ELECT_CONTRACT},     
		#{FN_BUY_DAYS},                
		#{FN_REDEEM_DAYS},             
		#{FN_CONVERSION_DAYS},         
		#{FN_SUB_BACK_DAYS},           
		#{FN_DIVIDEND_DAYS},           
		#{FC_COLLECT_FEE_TYPE},        
		#{FC_ISGUARANTEEDFUND},        
		#{FC_IS_LOF},                  
		#{FC_IS_QDII},                  
		#{FC_IS_ETF},                   
		#{FC_FEE_RATE_METHOD},          
		#{FN_RATE_FEE},                 
		#{FN_CONSTANT_FEE},             
		'system',                       
		sysdate,                        
		'system',                       
		sysdate            
		)
	</insert>

	
</mapper>